cscope.*
tags
si/
prj/obj/
prj/lst/
prj/list/cmos.map
prj/cmos.uvguix.Administrator
prj/cmos.uvguix.pp

app/flyer/eMD6.12/prj/lst/
app/flyer/eMD6.12/prj/obj/
app/flyer/eMD6.12/prj/md.uvguix.Administrator
app/flyer/eMD6.12/prj/md.uvguix.pp

tools/flyer_controller/__pycache__/
tools/test/*.o
tools/test/*.exe
tools/test/test

app/flyer/algorithm/*.o
app/flyer/algorithm/*.exe
app/flyer/algorithm/test

app/flyer/doc/latex/fig/*.pdf
app/flyer/doc/latex/*.pdf 

app/flyer/main/flyer.IAB
app/flyer/main/flyer.IAD
app/flyer/main/flyer.IMB
app/flyer/main/flyer.IMD
app/flyer/main/flyer.PFI
app/flyer/main/flyer.PO
app/flyer/main/flyer.PR
app/flyer/main/flyer.PRI
app/flyer/main/flyer.PS
app/flyer/main/flyer.SearchResults
app/flyer/main/flyer.WK3

