cscope.*
tags
si/
prj/obj/
prj/lst/
prj/cmos.uvguix.Administrator
prj/cmos.uvguix.pp

app/flyer/eMD6.12/prj/lst/
app/flyer/eMD6.12/prj/obj/
app/flyer/eMD6.12/prj/md.uvguix.Administrator
app/flyer/eMD6.12/prj/md.uvguix.pp

tools/flyer_controller/__pycache__/
